.SectContents {
    position: relative;
    margin-bottom: 14.5rem;
}
.SectContents:before {
    content: "";
    position: absolute;
    bottom: -14.6rem;
    width: 100%;
    height: 14.7rem;
    background-color: #e6e6e3;
}
.SectContents__nav .innerNav.is-onValue .innerNav__list__item:nth-of-type(3).is-current .text {
    color: #dedede;
}
.SectContents__top {
    position: relative;
    padding-top: 23rem;
    padding-bottom: calc(13.5rem + 50vw);
    margin-bottom: calc(-13.5rem - 50vw);
    -webkit-mask-image: radial-gradient(circle 50vw at 50% 100%, transparent 50vw, #fff 0, #fff 0);
    mask-image: radial-gradient(circle 50vw at 50% 100%, transparent 50vw, #fff 0, #fff 0);
    z-index: 1;
}
.SectContents__block__main .heading {
    margin-top: 6.6rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.SectContents__block__main .detail {
    margin-top: 3.1rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8;
}
.SectContents__block__main .image {
    height: 0;
    padding-bottom: 61.8571428571%;
    overflow: hidden;
    border-radius: 0.3rem;
}
.SectContents__block#Vision {
    margin-top: 14.5rem;
    padding-top: 15rem;
}
.SectContents__block#Vision:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70rem;
    height: 1px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
}
.SectContents__block#Vision:after {
    content: "";
    position: absolute;
    top: 49rem;
    left: 0;
    width: 100%;
    height: calc(69rem + 50vw);
    border-radius: 50vw 50vw 0 0;
    background-color: #fff;
    -webkit-mask-image: radial-gradient(circle 50vw at 50% 100%, transparent 50vw, #fff 0, #fff 0);
    mask-image: radial-gradient(circle 50vw at 50% 100%, transparent 50vw, #fff 0, #fff 0);
}
.SectContents__block#Vision .SectContents__block__main {
    position: relative;
    margin-top: 7.8rem;
    z-index: 1;
}
.SectContents__block#Value {
    padding-top: 41.5rem;
    padding-bottom: 14.2rem;
    background-color: rgba(51, 51, 51, 0.75);
    color: #fff;
    overflow: hidden;
}
.SectContents__block#Value .SectContents__block__intro {
    position: relative;
}
.SectContents__block#Value .SectContents__block__intro .list {
    display: flex;
    white-space: nowrap;
    font-size: 56rem;
    font-weight: 600;
    will-change: transform;
}
.SectContents__block#Value .SectContents__block__intro .box {
    display: flex;
    animation: loop_left 190000ms linear infinite;
    will-change: transform;
}
.SectContents__block#Value .SectContents__block__intro .box.is-stop {
    animation-play-state: paused;
}
.SectContents__block#Value .SectContents__block__intro .text {
    position: relative;
    padding-left: 0.2em;
}
.SectContents__block#Value .SectContents__block__intro .images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 250vw;
    height: 100%;
    will-change: transform;
    animation: value_intro_image 50000ms linear infinite;
}
@keyframes value_intro_image {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-50%, 0, 0);
    }
}
.SectContents__block#Value .SectContents__block__intro .images__item {
    position: relative;
    width: 100%;
    margin-left: 33vw;
}
.SectContents__block#Value .SectContents__block__intro .images__item .image {
    position: absolute;
    width: 26rem;
    overflow: hidden;
    border-radius: 0.3rem;
}
.SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(odd) {
    transform: rotate(-10deg);
    box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.3);
}
.SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(even) {
    transform: rotate(10deg);
    box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.3);
}
.SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(1) {
    bottom: 4.5rem;
    left: 0;
}
.SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(2) {
    top: 4.5rem;
    left: calc(50% - 13rem);
}
.SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(3) {
    bottom: 4.5rem;
    right: 0;
}
.SectContents__block#Value .SectContents__block__title {
    margin-top: 7.5rem;
}
.SectContents__block#Message {
    padding-top: 15rem;
    background-color: #e6e6e3;
}
.SectContents__block#Message .SectContents__block__main {
    margin-top: 7.7rem;
}
.SectContents__block#Message .SectContents__block__main .detail {
    margin-top: 5.4rem;
    text-align: left;
}
.SectContents__block#Message .SectContents__block__main .detail .signature {
    display: block;
    margin-top: 4.2rem;
    text-align: right;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(1) {
    transition-delay: 240ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(2) {
    transition-delay: 280ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(3) {
    transition-delay: 320ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(4) {
    transition-delay: 360ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(5) {
    transition-delay: 400ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(6) {
    transition-delay: 440ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(7) {
    transition-delay: 480ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(8) {
    transition-delay: 520ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(9) {
    transition-delay: 560ms;
}
.Container.is-enter .Main--fixed .Main__title__sub .char:nth-of-type(10) {
    transition-delay: 600ms;
}
@media screen and (min-width: 1024px) {
    .SectContents__top:not(.has-scroll-smooth .SectContents__top) {
        margin-top: calc(-100vh + 11rem);
    }
    .Main--fixed .Main__title__list {
        font-size: 15rem;
    }
    .Main--fixed .Main__title__list .box {
        animation-duration: 120000ms;
    }
    .Main--fixed .Main__title__sub {
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 1023px) {
    .SectContents {
        margin-bottom: 0;
    }
    .SectContents:before {
        display: none;
    }
    .SectContents__top {
        padding-top: 12rem;
        padding-bottom: calc(5.5rem + 50vw);
        margin-bottom: calc(-5.5rem - 50vw);
    }
    .SectContents__block__main .heading {
        margin-top: 1.8rem;
        font-size: 2.7rem;
        line-height: 1.4;
    }
    .SectContents__block__main .detail {
        margin-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.7;
    }
    .SectContents__block__main .image {
        border-radius: 0;
    }
    .SectContents__block#Mission .SectContents__block__title .text,
    .SectContents__block#Vision .SectContents__block__title .text,
    .SectContents__block#Value .SectContents__block__title .text {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .SectContents__block#Vision {
        margin-top: 5.5rem;
        padding-top: 5.75rem;
    }
    .SectContents__block#Vision:before {
        width: 92%;
    }
    .SectContents__block#Vision:after {
        top: 20.6rem;
    }
    .SectContents__block#Vision .SectContents__block__main {
        margin-top: 2.5rem;
    }
    .SectContents__block#Vision .SectContents__block__main .heading {
        margin-top: 2.5rem;
    }
    .SectContents__block#Value {
        padding-top: 13.75rem;
        padding-bottom: 9.25rem;
    }
    .SectContents__block#Value .SectContents__block__intro .list {
        font-size: 21rem;
    }
    .SectContents__block#Value .SectContents__block__intro .box {
        animation-duration: 110000ms;
    }
    .SectContents__block#Value .SectContents__block__intro .images {
        animation-duration: 21000ms;
    }
    .SectContents__block#Value .SectContents__block__intro .images__item {
        margin-left: 33vw;
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image {
        width: 13rem;
        border-radius: 0.275rem;
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(odd) {
        box-shadow: 0 0.95rem 2.8rem rgba(0, 0, 0, 0.3);
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(even) {
        box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.3);
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(n + 3) {
        display: none;
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(1) {
        bottom: 0;
        left: 0;
    }
    .SectContents__block#Value .SectContents__block__intro .images__item .image:nth-of-type(2) {
        top: 0;
        left: 70%;
    }
    .SectContents__block#Value .SectContents__block__title {
        margin-top: 3.25rem;
    }
    .SectContents__block#Message {
        padding-top: 5.8rem;
        padding-bottom: 7.25rem;
    }
    .SectContents__block#Message .SectContents__block__main {
        margin-top: 3.85rem;
    }
    .SectContents__block#Message .SectContents__block__main .detail {
        width: 92%;
        margin: 3.4rem auto 0;
    }
    .SectContents__block#Message .SectContents__block__main .detail .signature {
        margin-top: 4.25rem;
    }
}
